---
import ContactLink from "../components/ContactLink.astro";
import Navbar from "../components/Navbar.astro";
import NavbarItem from "../components/NavbarItem.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}/favicon.svg`
    />
    <link
      rel="preload"
      as="image"
      href=`${import.meta.env.BASE_URL}/cookie.png`
    />
    <link
      rel="preload"
      as="image"
      href=`${import.meta.env.BASE_URL}/Mario-Pipe-PNG-Image-HD-300x225.png`
    />
    <link
      rel="preload"
      as="image"
      href=`${import.meta.env.BASE_URL}/Mario-Mushroom-PNG-Image.png`
    />
    <!-- Primary Meta Tags -->
    <title>Rémi Schwartz | Portfolio</title>
    <meta name="title" content="Rémi Schwartz | Portfolio" />
    <meta
      name="description"
      content="Développeur Frontend Senior : Typescript, React, Accessibilité"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://remischwartz.github.io/profile/" />
    <meta property="og:title" content="Rémi Schwartz | Portfolio" />
    <meta
      property="og:description"
      content="Développeur Frontend Senior : Typescript, React, Accessibilité"
    />
    <meta
      property="og:image"
      content="https://remischwartz.github.io/profile/code.png"
    />

    <!-- X (Twitter) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://remischwartz.github.io/profile/"
    />
    <meta property="twitter:title" content="Rémi Schwartz | Portfolio" />
    <meta
      property="twitter:description"
      content="Développeur Frontend Senior : Typescript, React, Accessibilité"
    />
    <meta
      property="twitter:image"
      content="https://remischwartz.github.io/profile/code.png"
    />
  </head>
  <body class="bg-background text-sand-200 font-sans scroll-smooth">
    <Navbar>
      <NavbarItem content="Accueil" href="#top" />
      <NavbarItem content="Compétences" href="#competences" />
      <NavbarItem content="À propos" href="#about" />
      <NavbarItem content="Projets" href="#projects" />
      <ContactLink size="small" />
    </Navbar>
    <div class="md:text-lg">
      <slot />
    </div>
    <script>
      const sections = document.querySelectorAll("section[id]");
      const navLinks = document.querySelectorAll(".nav-link");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const id = entry.target.getAttribute("id");
            const link = document.querySelector(`a[href='#${id}']`);
            if (entry.isIntersecting) {
              navLinks.forEach((el) => el.classList.remove("current-link"));
              if (link) link.classList.add("current-link");
            }
          });
        },
        { rootMargin: "0px 0px -90% 0px" }
      );

      sections.forEach((section) => observer.observe(section));
    </script>
  </body>
</html>
